<head>
  <meta charset="UTF-8">
<style>
@font-face {
    font-family: "sitelin pona";
    src: url("linjapimeja1.3.otf")
}

* {
    font-family: "sitelin pona";
font-variant-ligatures: common-ligatures;
}
</style>
</head>
<body>

<span>toki pona</span>
</body>